

body {
  opacity: 100%;
  margin-left: 0px;
  background-color: rgb(27, 0, 51);
  transition: margin-left .5s;
  padding: 20px;
}

#light {
  width: 30px;
  height: 30px;
}

#ONERMbutton {
    background-color: #832B2B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:10px;
    color: #250808;
    font-family: 'Racing Sans One', cursive;
    font-size: 150px;
    text-decoration: none;
    cursor: pointer;
    border:none;
		width: 500px;
		height: 500px;
}


#ONERMbutton:hover {
    border: none;
    background:red;
    box-shadow: 0px 0px 1px #777;
}

#BMIbutton {
    background-color: rgb(8, 55, 94);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:10px;
    color: rgb(4, 4, 19);
    font-family: 'Racing Sans One', cursive;
    font-size: 150px;
    text-decoration: none;
    cursor: pointer;
    border:none;
		width: 500px;
		height: 500px;
}

#BMIbutton:hover {
    border: none;
    background:blue;
    box-shadow: 0px 0px 1px #777;
}

#calc0 {
    background-color: #832B2B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #250808;
    font-family: 'Racing Sans One', cursive;
    font-size: 42px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

#calc0:hover {
    border: none;
    background:red;
    box-shadow: 0px 0px 1px #777;
}

#calc1 {
    background-color: rgb(8, 55, 94);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: rgb(4, 4, 19);;
    font-family: 'Racing Sans One', cursive;
    font-size: 42px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

#calc1:hover {
    border: none;
    background:blue;
    box-shadow: 0px 0px 1px #777;
}

#ONERMresult {
    color: #832B2B;
    font-size: 42px;
    font-family: 'Racing Sans One';
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7c0000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7c0000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* The BMI slider */
.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider1:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider1 {
  background-color: #005b96;
}

input:focus + .slider1 {
  box-shadow: 0 0 1px #005b96;
}

input:checked + .slider1:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider1.round {
  border-radius: 34px;
}

.slider1.round:before {
  border-radius: 50%;
}

input[type=text] {
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.formlabels {
  color: #7c0000;
  font-weight: bolder;
  font-size: 20px;
}

.formlabels1 {
  color: #005b96;
  font-weight: bolder;
  font-size: 20px;
}